body {
  font-size: 1rem;
}

@media (max-width: 1080px){
  html{
    font-size: 90.75%;
  }
}

@media (max-width: 720px){
  html{
    font-size: 85.5%;
  }
}

@media (max-width: 650px){
  html{
    font-size: 65.5%;
  }
}
